/* Global styles */
@font-face {
    font-family: 'Ubuntu-Light';
    src: url('./fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('./fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('./fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
    font-style: normal;
}